body{
    font-family: arial;
    background-color: rgb(172, 239, 217);
}
input{
    border-color: yellow;
}
.input-radio{
    cursor: pointer;
}
h4{
    margin-bottom: 0px;
}
.ways,
.one-way,
.two-way{
    display:flex;
    flex-direction: row;
    gap:10px;
}
.choose-address{
    display:flex;
    flex-direction: row;
    gap: 8px;
}





